header#intro{
  color: white;
  background-image: url('../img/showcase.jpg');
}

header #intro.introtext{
  border-top: 1px solid;
}

/* Showcase */
.showcase{
  min-height: 400px;
  color: White;
}

.showcase h1{
  margin-top: 150px;
  font-size: 55px;
  margin-bottom: 10px;
}

.showcase p{
  font-size: 20px;
}

#intro{
min-height: 100vh;
}

#intro h1{
  margin-top: 50px;
}

#sc-about{
background-image: url('../img/student.jpg');
background-position: 50% 25%;
min-height: 100vh;
}


#sc-art{
background-image: url('../img/art/angel/Mercy_done.jpg');
background-position: 50% 25%;
min-height: 100vh;
}
#sc-code{
  background-image: url('../img/code.jpg');
min-height: 100vh;
}
