body{
  font: 15px/1.5 Lato, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}


/* Global */

.container{
  width: 80%;
  margin: auto;
  overflow: hidden;

}

.parallax{
  background-attachment: fixed;
  background-size: cover;
  background-position: 50% 50%;
}

.jumbotron{
  margin-bottom: 0px;
}

.text
/* Header */

header{
  height: auto;
  color: rgba(255, 255, 255, 0.6);
  padding-top: 100px;
  padding-bottom: 100px;
  align-items: center;
  min-height: 200px;

  background-image: url(../img/header.jpg);
}

header .container{
  align-items: middle;
}

header h1{
  font-size: 60px;
  padding: 25px;
  margin: 0;
  align: middle;
}

header img{
  display: block;
  margin: auto;
  margin-bottom: 25px;
  padding: 25px;
  max-width: 256px;
  max-height: 256px;
  border-radius: 50%
}

/* Navigation Bar*/
.navbar{
  background-color: rgba(0, 0, 0, 0.8);
  border-bottom-width: 0;
}

nav a{
  display: inline;
  color: white;
  padding: 15px 50px;
  text-decoration: none;
  font-weight: bold;
}

.navbar-nav a:hover, .navbar-nav .active a, .navbar-brand a:hover, .navbar-brand a:focus, .navbar-nav a:focus{
  color: SpringGreen !important;
  background-color: rgba( 0, 0, 0, 0) !important;
}

#stickynav{
    position: fixed;
    top: 0;
    width: 100%;
}

#logo{
  font-size: 36px;
  max-width: 56px;
  color: SpringGreen;
  overflow-x: hidden;
}

#logo:hover{
  color: white;
}

/* Footer */

footer{
  padding: 5px;
  color: SpringGreen;
  background-color: rgba(0,0,0,1);
}

/* Socicon fonts*/

@font-face {
  font-family: 'Socicon';
  src:  url('fonts/Socicon.eot?6abp0d');
  src:  url('fonts/Socicon.eot?6abp0d#iefix') format('embedded-opentype'),
    url('fonts/Socicon.woff2?6abp0d') format('woff2'),
    url('fonts/Socicon.ttf?6abp0d') format('truetype'),
    url('fonts/Socicon.woff?6abp0d') format('woff'),
    url('fonts/Socicon.svg?6abp0d#Socicon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="socicon-"], [class*=" socicon-"] {
  font-family: 'Socicon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
