body{
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-color: Honeydew;
}


/* Global */

.container{
  width: 80%;
  margin: auto;
  overflow: hidden;

}

.parallax{
  background-attachment: fixed;
  background-size: cover;
  background-position: 50% 50%;
}

.sticky{
  position: fixed;
  top: 0;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.43);
}

/* Header */

header{
  height: auto;
  color: rgba(255, 255, 255, 0.6);
  padding-top: 100px;
  padding-bottom: 100px;
  border-bottom: white 2px solid;
  align-items: center;
  min-height: 200px;

  background-image: url(../img/header.jpg);
}



header .container{
  align-items: middle;
}

header h1{
  text-align: center;
  font-size: 55px;
  padding: 25px;
  margin: 0;
  align: middle;
}

header img{
  display: block;
  margin: auto;
  margin-top: 50px;

  max-width: 256px;
  max-height: 256px;
  border-radius: 50%
}

/* Navigation Bar*/
nav{
  height: auto;
  width: 100%;
  bottom: 0;
  left: 0;
  display: table;
  margin: 0px;
  background-color: transparent;
}
nav ul .current{
  border-bottom: SpringGreen 3px solid;
  background-color: rgba(0, 0, 0, 0.7);
}
nav ul{
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  text-align: center;
  margin: 0px;
  padding: 0px;
}

nav li{
  display: inline-flex;
}

nav a{
  display: inline;
  color: white;
  padding: 15px 50px;
  text-decoration: none;
  font-weight: bold;
}

nav li:hover:not(.current){
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom: white 3px solid;
}

nav a:hover{
  color: SpringGreen;
}

#stickynav{
    position: fixed;
    top: 0;
    width: 100%;
}


/* Boxes */

#boxes{
  margin-top: 20px;
}

#boxes .box{
  float:left;
  text-align: center;
  width: 30%;
  padding: 10px;
}

#boxes .box img{
  width: 90px;
}

/* Sidebar */

aside#sidebar{
  float:right;
  width: 30%;
  margin-top: 10px;
}


/* Main-col */

article#main-col{
  float: left;
  width: 65%;
}


/* Footer */

footer{
  padding: 20px;
  color: SpringGreen;
  background-color: DarkSlateGray;
  text-align: center;
}


}

/* Socicon fonts*/

@font-face {
  font-family: 'Socicon';
  src:  url('fonts/Socicon.eot?6abp0d');
  src:  url('fonts/Socicon.eot?6abp0d#iefix') format('embedded-opentype'),
    url('fonts/Socicon.woff2?6abp0d') format('woff2'),
    url('fonts/Socicon.ttf?6abp0d') format('truetype'),
    url('fonts/Socicon.woff?6abp0d') format('woff'),
    url('fonts/Socicon.svg?6abp0d#Socicon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="socicon-"], [class*=" socicon-"] {
  font-family: 'Socicon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@intro

header #intro{
  background-image: url(../img/showcase_1.jpg);
}
